---
import Hero from '../components/Hero.astro';
import CarouselSection from '../components/CarouselSection.astro';
import Mission from '../components/Mission.astro';
import ControlSection from '../components/ControlSection.astro';
import CallToAction from '../components/CallToAction.astro';
import FAQ from '../components/FAQ.astro';
import FAQItem from '../components/FAQItem.astro';
import Footer from '../components/Footer.astro';
import { faqs } from "../data/faqs.js";
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/assets/favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;500;700;800;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rizzler</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-[#000B1E] text-white font-sans">
    <Hero />
    <CarouselSection />
    <Mission />
    <ControlSection />
    <CallToAction />
    <FAQ>
        {faqs.map((faq) => (
            <FAQItem question={faq.question} answer={faq.answer} />
        ))}
    </FAQ>
    <Footer />
  </body>
</html>
