<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>Rizzler</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-[#000B1E] text-white font-sans">
        <!-- Hero -->
        <section class="px-0 pt-8 pb-12 bg-[#000B1E]">
            <img src="/assets/rizzlerLogo.svg" alt="Rizzler" class="w-32 h-auto mx-auto mb-4 sm:w-40" />

            <div class="flex justify-center">
                <h1 class="text-xl lh-[20px] font-semibold sm:text-3xl text-center sm:text-right leading-[2rem] sm:leading-[3rem]">
                    Create <span class="text-[#94FFD8]">&</span> connect <span class="text-pink-400">💖</span><br />
                    with
                    <span class="text-white">
                        <img src="/assets/friendsLogo.svg" alt="friends" class="inline w-10 h-auto sm:w-20" />
                        your <br /> 🔥friends
                        <img src="/assets/appStore.svg" alt="App Store" class="mt-2 sm:mt-0 mx-auto sm:inline w-32 h-auto" />
                    </span>
                </h1>
            </div>

            <p class="mt-4 text-sm sm:text-md sm:text-base text-white text-center max-w-[240px] sm:max-w-full mx-auto">
                The <span class="underline">federated</span> social video app of the future, here now! 🎉
            </p>

            <!-- Collage -->
            <div
                class="
                    mt-8
                    flex
                    justify-end sm:justify-center
                    items-start
                    relative
                    right-0
                    gap-[15px] sm:gap-5
                    transition-[width]
                    duration-300 ease-in-out
                    overflow-hidden
                "
            >
                <img src="/assets/collage1.png" alt="collage1" class="rounded-lg max-w-[110px] w-auto sm:max-w-[294px] sm:w-full even:mt-[50px]" />
                <img src="/assets/collage2.png" alt="collage2" class="rounded-lg max-w-[110px] w-auto sm:max-w-[294px] sm:w-full even:mt-[50px]" />
                <img src="/assets/collage3.png" alt="collage3" class="rounded-lg max-w-[110px] w-auto sm:max-w-[294px] sm:w-full even:mt-[50px]" />
                <img src="/assets/collage4.png" alt="collage4" class="rounded-lg max-w-[110px] w-auto sm:max-w-[294px] sm:w-full even:mt-[50px]" />
                <img src="/assets/collage5.png" alt="collage5" class="rounded-lg max-w-[110px] w-auto sm:max-w-[294px] sm:w-full even:mt-[50px]" />
            </div>
        </section>

        <!-- Carousel Section -->
        <section class="bg-pink-50 text-black px-4 py-12 text-center relative z-[100] -mt-[220px] sm:-mt-[515px]">
            <h2 class="text-lg font-bold sm:text-2xl">
                Join the unbannable short-form video platform!
            </h2>
            <p class="mt-2 text-sm sm:text-base">
                All your favorite features, without the risk of losing your online presence.
            </p>
            <a href="#" class="inline-block mt-4">
                <img src="/assets/downloadOnTheAppStore.svg" alt="App Store" class="w-32 h-auto" />
            </a>

            <!-- Thumbnails -->
            <div class="overflow-x-auto flex items-center gap-2 mt-[10px] sm:mt-[40px]">
                <div>
                    <img
                        src="/assets/carousel1.png"
                        class="max-w-[127px] sm:max-w-[172px] flex-none transition-all duration-300 ease-in-out sm:hover:max-w-[260px]"
                    />
                </div>
                <div>
                    <img
                        src="/assets/carousel2.png"
                        class="max-w-[127px] sm:max-w-[172px] flex-none transition-all duration-300 ease-in-out sm:hover:max-w-[260px]"
                    />
                </div>
                <div>
                    <img
                        src="/assets/carousel3.png"
                        class="max-w-[127px] sm:max-w-[172px] flex-none transition-all duration-300 ease-in-out sm:hover:max-w-[260px]"
                    />
                </div>
                <div>
                    <img
                        src="/assets/carousel4.png"
                        class="max-w-[127px] sm:max-w-[172px] flex-none transition-all duration-300 ease-in-out sm:hover:max-w-[260px]"
                    />
                </div>
                <div>
                    <img
                        src="/assets/carousel5.png"
                        class="max-w-[127px] sm:max-w-[172px] flex-none transition-all duration-300 ease-in-out sm:hover:max-w-[260px]"
                    />
                </div>
                <div>
                    <img
                        src="/assets/carousel6.png"
                        class="max-w-[127px] sm:max-w-[172px] flex-none transition-all duration-300 ease-in-out sm:hover:max-w-[260px]"
                    />
                </div>
                <div>
                    <img
                        src="/assets/carousel7.png"
                        class="max-w-[127px] sm:max-w-[172px] flex-none transition-all duration-300 ease-in-out sm:hover:max-w-[260px]"
                    />
                </div>
                <div>
                    <img
                        src="/assets/carousel8.png"
                        class="max-w-[127px] sm:max-w-[172px] flex-none transition-all duration-300 ease-in-out sm:hover:max-w-[260px]"
                    />
                </div>
                <div>
                    <img
                        src="/assets/carousel9.png"
                        class="max-w-[127px] sm:max-w-[172px] flex-none transition-all duration-300 ease-in-out sm:hover:max-w-[260px]"
                    />
                </div>
                <div>
                    <img
                        src="/assets/carousel10.png"
                        class="max-w-[127px] sm:max-w-[172px] flex-none transition-all duration-300 ease-in-out sm:hover:max-w-[260px]"
                    />
                </div>
            </div>
        </section>

        <!-- Mission -->
        <section class="bg-white text-black px-4 py-12 sm:px-12 lg:px-24 text-center">
            <h2 class="text-lg font-bold sm:text-2xl">
                A platform built to serve users, not exploit them.
            </h2>
            <p class="mt-2 text-sm sm:text-base max-w-xl mx-auto">
                Unlike traditional social media companies, Rizzler is a Public Benefit Corporation,
                meaning we're committed to social impact – not just profit.
            </p>
        </section>

        <!-- Control Section -->
        <section class="bg-[#A1FFD6] text-black px-4 py-12 sm:px-12 lg:px-24 text-center">
            <h2 class="text-lg font-bold sm:text-2xl">The best part?<br />You're in full control</h2>
            <p class="mt-2 text-sm sm:text-base max-w-xl mx-auto">
                Unlike TikTok or Instagram, Skylight runs on the AT Protocol, a new social media technology
                home to <strong>32M+ users</strong>!
            </p>
            <p class="mt-2 text-sm sm:text-base max-w-xl mx-auto">
                Your content and connections aren't locked into one platform — they exist on this open network.
                Switch to another PDS platform and your audience, content, and followers are right there with you.
            </p>
        </section>

        <!-- Call to Action -->
        <section class="bg-[#000B1E] text-white px-4 py-12 sm:px-12 lg:px-24 text-center">
            <h2 class="text-lg font-bold sm:text-2xl">What are you still doing here?</h2>
            <p class="mt-1">Come join Rizzler!</p>
            <a href="#" class="inline-block mt-4">
                <img src="/assets/downloadOnTheAppStore.svg" alt="App Store" class="w-32 h-auto" />
            </a>
        </section>

        <!-- FAQ -->
        <section class="bg-white text-black px-4">
            <div class="sm:max-w-[800px] mx-auto py-[30px] sm:py-[50px]">
                <h2 class="font-bold text-lg text-xl sm:text-3xl text-center mb-6">
                    You've got questions, we've got answers
                </h2>
                <div>
                    <details class="group">
                      <summary class="cursor-pointer flex justify-between items-center p-4 border-b text-md sm:text-xl font-light">
                        What is the PDS Protocol?
                        <span class="transition-transform duration-300 group-open:rotate-45">
                          <svg
                            class="w-4 h-4"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            viewBox="0 0 24 24"
                          >
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                          </svg>
                        </span>
                      </summary>
                      <p class="text-sm sm:text-md mt-1 py-4">
                        The PDS (Personal Data Store) Protocol is a decentralized framework designed to give individuals control over their own data while enabling secure and seamless interactions between applications and services. It allows users to store their personal data in a private, user-controlled environment rather than relying on centralized platforms.
                        <br/>
                        <br/>
                        By using standardized APIs and authentication mechanisms, the PDS Protocol ensures that users can grant or revoke access to their data as needed, promoting privacy, security, and interoperability across different services. This approach empowers individuals to manage their digital identity and share information on their own terms while reducing dependence on large tech companies that traditionally store and monetize user data.
                      </p>
                    </details>

                    <details class="group">
                      <summary class="cursor-pointer flex justify-between items-center p-4 border-b text-md sm:text-xl font-light">
                        Why is Rizzler built on the PDS Protocol?
                        <span class="transition-transform duration-300 group-open:rotate-45">
                          <svg
                            class="w-4 h-4"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            viewBox="0 0 24 24"
                          >
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                          </svg>
                        </span>
                      </summary>
                      <p class="text-sm sm:text-md mt-1 py-4">
                        The PDS Protocol is a decentralized framework that allows users to own their data in a private,
                        secure way, across multiple platforms.
                      </p>
                    </details>

                    <details class="group">
                      <summary class="cursor-pointer flex justify-between items-center p-4 border-b text-md sm:text-xl font-light">
                        Can I use my Bluesky account with Rizzler?
                        <span class="transition-transform duration-300 group-open:rotate-45">
                          <svg
                            class="w-4 h-4"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            viewBox="0 0 24 24"
                          >
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                          </svg>
                        </span>
                      </summary>
                      <p class="text-sm sm:text-md mt-1 py-4">
                        The PDS Protocol is a decentralized framework that allows users to own their data in a private,
                        secure way, across multiple platforms.
                      </p>
                    </details>

                    <details class="group">
                      <summary class="cursor-pointer flex justify-between items-center p-4 border-b text-md sm:text-xl font-light">
                        What is a Public Benefit Corporation?
                        <span class="transition-transform duration-300 group-open:rotate-45">
                          <svg
                            class="w-4 h-4"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            viewBox="0 0 24 24"
                          >
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                          </svg>
                        </span>
                      </summary>
                      <p class="text-sm sm:text-md mt-1 py-4">
                        The PDS Protocol is a decentralized framework that allows users to own their data in a private,
                        secure way, across multiple platforms.
                      </p>
                    </details>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer class="bg-pink-500 text-center text-white py-4 text-sm">
            © 2025 Rizzler. Built on the PDS Protocol
        </footer>
    </body>
</html>
