<section class="bg-[radial-gradient(ellipse_at_center,#033151,#021324)] text-white px-4 py-12 sm:px-12 lg:px-24 text-center">
    <h2 class="font-grotesque font-black text-lg sm:text-[40px] sm:leading-[3rem] mb-[10px] sm:mb-[32px]">What are you still doing here?</h2>
    <p class="font-grotesque font-black text-lg sm:text-2xl">Come join Rizzler!</p>
    <a href="#" class="inline-block mt-4">
        <img src="/assets/downloadOnTheAppStore.svg" alt="App Store" class="w-[197px] h-auto" />
    </a>
</section>
