<section class="bg-[#A1FFD6] text-black px-4 py-12 sm:px-12 lg:px-24 text-center">
    <h2 class="font-grotesque font-black text-lg sm:text-4xl mb-[16px] sm:mb-[32px]">
        The best part?<br />You're in full control
    </h2>
    <p class="text-sm sm:text-base max-w-xl mx-auto">
        Unlike TikTok or Instagram, Skylight runs on the AT Protocol, a new social media technology home to
        <span class="sm:font-semibold">32M+ users</span>!
        <br />
        <br />
        Your content and connections aren't locked into one platform — they exist on this open network. Switch to another PDS platform and your audience, content, and followers are right there with you.
    </p>
</section>
