<section class="bg-white text-black px-4">
    <div class="sm:max-w-[950px] mx-auto py-[30px] sm:py-[50px]">
        <h2 class="font-grotesque font-black text-lg sm:text-[40px] sm:leading-[3rem] text-center mb-6">You've got questions, we've got answers</h2>
        <div>
            <slot />
        </div>
    </div>
</section>
