---
import "../styles/Hero.css";
---

<section class="px-0 pt-8 pb-12 bg-[#000B1E]">
    <div class="flex">
        <div class="flex flex-col items-center sm:items-end m-auto">
            <img src="/assets/rizzlerLogo.svg" alt="Rizzler" class="w-[195px] sm:w-[250px] h-auto mb-4" />
            <h1 class="font-grotesque text-xl font-semibold sm:text-3xl text-center sm:text-right leading-[2rem] sm:leading-[3rem]">
                Create <span class="text-[#94FFD8]">&</span> connect <span class="text-pink-400">💖</span><br />
                with <span class="text-white">
                <img src="/assets/friendsLogo.svg" alt="friends" class="inline w-10 h-auto sm:w-20" /> your <br /> 🔥friends
                <img src="/assets/appStore.svg" alt="App Store" class="mt-2 sm:mt-0 mx-auto sm:inline w-32 h-auto" />
                </span>
            </h1>
        </div>
    </div>
    <p class="font-light mt-4 text-sm sm:text-xl text-white text-center max-w-[240px] sm:max-w-full mx-auto">
        The <span class="underline-image pb-[5px] sm:pb-[10px]">federated</span> social video app of the future, here now! 🎉
    </p>
    <div class="mt-8 flex items-start hero-image-wrapper relative" >
        {[1, 2, 3, 4, 5].map(i => (
            <div class="relative w-full even:top-10 md:even:top-20 xl:even:top-40">
                <img src={`/assets/collage${i}.png`} alt={`collage${i}`} class="rounded-lg w-[110px] sm:w-full" />
            </div>
        ))}
    </div>
</section>
