<section class="bg-white text-black py-[32px] px-4 sm:px-[150px] md:px-[220px] flex flex-col items-center text-center sm:pb-[80px] relative">
    <video
        class="hidden sm:block rounded-lg w-[100rem] absolute top-0 max-w-[200px] left-[-70px] md:max-w-[295px] md:left-[-95px]"
        autoplay loop muted playsinline
    >
      <source src="/assets/videoInMission.mp4" type="video/mp4" />
    </video>
    <h2 class="font-grotesque font-black text-xl font-bold sm:text-[40px] sm:leading-[3rem] max-w-[250px] sm:max-w-[500px] mb-[16px] sm:mb-[32px]">
        A platform built to serve users, not exploit them.
    </h2>
    <p class="font-normal text-sm sm:text-lg sm:max-w-[750px] mx-auto">
        Unlike traditional social media companies, Rizzler is a Public Benefit Corporation, meaning we're committed to social impact – not just profit.
    </p>
</section>
