<section class="bg-white text-black px-4 py-12 sm:px-12 lg:px-24 text-center">
    <h2 class="text-lg font-bold sm:text-2xl">A platform built to serve users, not exploit them.</h2>
    <p class="mt-2 text-sm sm:text-base max-w-xl mx-auto">
        Unlike traditional social media companies, Rizzler is a Public Benefit Corporation, meaning we're committed to social impact – not just profit.
    </p>
</section>
