<section class="bg-white text-black px-4 py-12 sm:px-12 lg:px-24 flex flex-col items-center text-center">
    <h2 class="font-grotesque font-black text-xl font-bold sm:text-4xl max-w-[250px] sm:max-w-[450px] mb-[16px] sm:mb-[32px]">
        A platform built to serve users, not exploit them.
    </h2>
    <p class="font-normal text-sm sm:text-lg sm:max-w-[750px] mx-auto">
        Unlike traditional social media companies, Rizzler is a Public Benefit Corporation, meaning we're committed to social impact – not just profit.
    </p>
</section>
